![](../Assets/itd.png)
    
# Inteligencia Artificial 
## Arboles de decisión DataSet COVID19
### José Gabriel Rodriguez Rivas    
### Angel Omar Ceniceros Berumen

In [7]:
#Code cell 1
#import pandas
import pandas as pd

#create a pandas dataframe called "training" from the titanic-train.csv file
training = pd.read_csv("./Data/Covid/200723COVID19MEXICO2.csv",encoding = "ISO-8859-1")

In [8]:
training

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,23/07/2020,1.16E+12,2,4,9,2,20,9,2,1,...,2,2,2,2,99,1,99,México,99,97
1,23/07/2020,0e50ac,2,4,9,2,9,9,5,2,...,2,1,2,2,99,1,99,México,99,2
2,23/07/2020,1dd91c,2,4,8,1,8,8,37,2,...,2,1,2,2,99,1,99,México,99,2
3,23/07/2020,1ad302,2,4,30,1,30,30,44,1,...,2,2,2,2,99,1,99,México,99,97
4,23/07/2020,1dd6f1,2,3,15,2,15,15,106,2,...,2,2,2,2,1,1,99,México,99,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
879603,23/07/2020,1af1ae,1,12,19,2,19,19,39,1,...,2,2,2,2,1,3,99,México,99,97
879604,23/07/2020,193226,1,3,26,2,26,26,30,2,...,2,1,2,1,1,3,99,México,99,2
879605,23/07/2020,0fe94e,2,12,24,1,24,24,28,1,...,1,2,2,2,2,3,99,México,99,97
879606,23/07/2020,118851,2,12,9,1,9,9,5,1,...,2,2,2,2,2,3,99,México,99,97
879607,23/07/2020,0a6c4c,1,4,11,1,11,11,20,1,...,2,2,2,2,99,3,99,México,99,97

In [10]:
training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 879608 entries, 0 to 879607
Data columns (total 35 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   FECHA_ACTUALIZACION  879608 non-null  object
 1   ID_REGISTRO          879608 non-null  object
 2   ORIGEN               879608 non-null  int64
 3   SECTOR               879608 non-null  int64
 4   ENTIDAD_UM           879608 non-null  int64
 5   SEXO                 879608 non-null  int64
 6   ENTIDAD_NAC          879608 non-null  int64
 7   ENTIDAD_RES          879608 non-null  int64
 8   MUNICIPIO_RES        879608 non-null  int64
 9   TIPO_PACIENTE        879608 non-null  int64
 10  FECHA_INGRESO        879608 non-null  object
 11  FECHA_SINTOMAS       879608 non-null  object
 12  FECHA_DEF            879608 non-null  object
 13  INTUBADO             879608 non-null  int64
 14  NEUMONIA             879608 non-null  int64
 15  EDAD                 879608 non-null  int64
 16  NACIONALIDAD         879608 non-null  int64
 17  EMBARAZO             879608 non-null  int64
 18  HABLA_LENGUA_INDIG   879608 non-null  int64
 19  DIABETES             879608 non-null  int64
 20  EPOC                 879608 non-null  int64
 21  ASMA                 879608 non-null  int64
 22  INMUSUPR             879608 non-null  int64
 23  HIPERTENSION         879608 non-null  int64
 24  OTRA_COM             879608 non-null  int64
 25  CARDIOVASCULAR       879608 non-null  int64
 26  OBESIDAD             879608 non-null  int64
 27  RENAL_CRONICA        879608 non-null  int64
 28  TABAQUISMO           879608 non-null  int64
 29  OTRO_CASO            879608 non-null  int64
 30  RESULTADO            879608 non-null  int64
 31  MIGRANTE             879608 non-null  int64
 32  PAIS_NACIONALIDAD    879608 non-null  object
 33  PAIS_ORIGEN          879608 non-null  object
 34  UCI                  879608 non-null  int64
dtypes: int64(28), object(7)
memory usage: 234.9+ MB

In [11]:
training['Survived'] = training['FECHA_DEF'].apply(lambda fecha: 1 if fecha=='9999-99-99' else 0)

In [12]:
training.head()

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI,Survived
0,23/07/2020,1.16E+12,2,4,9,2,20,9,2,1,...,2,2,2,99,1,99,México,99,97,1
1,23/07/2020,0e50ac,2,4,9,2,9,9,5,2,...,1,2,2,99,1,99,México,99,2,1
2,23/07/2020,1dd91c,2,4,8,1,8,8,37,2,...,1,2,2,99,1,99,México,99,2,0
3,23/07/2020,1ad302,2,4,30,1,30,30,44,1,...,2,2,2,99,1,99,México,99,97,1
4,23/07/2020,1dd6f1,2,3,15,2,15,15,106,2,...,2,2,2,1,1,99,México,99,2,1

In [13]:
#code cell 8
#create the array for the target values
y_target = training["Survived"].values